@import "./../../Style/generalStyle.scss";

.form {
  background-color: $WhiteColor;
  border-radius: 4px;
  @include defaultShadow;
  padding: 29px 25px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  &:hover {
    @include hoverShadow;
  }
  .form__delFormBtn {
    position: absolute;
    top: 29px;
    right: 25px;
    transform: rotate(45deg);
  }
}
.form__headerBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: start;
}
.form__name {
  margin: 0;
  padding: 0 46px 0 0;
  @include h4;
}
.form__description {
  margin: 0;
  padding: 0;
  @include paragraph2;
}
.form__fieldsList {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: start;
}
.form__btnsBlock {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 16px;
  align-items: center;
}
