.column {
    width: 256px;
    height: 100%;
    h3{
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-align: left;
        margin: 0 0 12px 0;
    }
    .cards{
        &.Not{
            background-color: #F8FAFC;
        }
        &.Now{
            background-color: #E3F3FC;
        }
        &.Ready{
            background-color: #EBEBFF;
        }
        &.Blocked{
            background-color: #FBE7E5;
        }
        &.Done{
            background-color: #EEF8E8;
        }
        &.Cancelled{
            background-color: #ECEDEF;
        }
        height: 100%;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid #D6D8DB
    }
}